# fly.toml app configuration file generated for vkiri-back on 2025-06-21T16:37:43+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'vkiri-back'
primary_region = 'nrt'

[build]
  dockerfile = 'Dockerfile'

[deploy]
  release_command = 'bundle exec rails db:migrate'

[http_service]
  internal_port = 3002
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
